<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'home.title' | customTranslate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'home.title' | customTranslate }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>{{ 'home.language' | customTranslate }}</ion-label>
    <ion-select (ionChange)="changeLanguage($event)">
      <ion-select-option *ngFor="let language of languages;" [value]="language">
        {{language.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <div id="container">
    <strong>{{ 'home.message1' | customTranslate }}</strong>
    <p>{{ 'home.message2' | customTranslate:{name1: 'Ionic', name2: 'Angular', name3: 'Test'} }}</p>
    <ion-button (click)="testTranslation()" color="primary">{{ 'home.testAlert' | customTranslate }}</ion-button>
    <ion-button (click)="navigateToTestPage()" color="primary">{{ 'home.testPage' | customTranslate }}</ion-button>
  </div>
</ion-content>